@import "scss/_container.scss";
@import "scss/_header.scss";
@import "scss/_about.scss";
@import "scss/_menu.scss";
@import "scss/_contacts.scss";
@import "scss/_footer.scss";

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
